@using Microsoft.AspNetCore.Http
@using Blockchain.Models;
 
<!DOCTYPE html>
<html lang="en">
<head class="bg-dark text-light">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Blockchain - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body class="bg-dark text-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @{
                            var isLoggedIn = Context.Session.GetInt32(nameof(BCUser.UserID)).HasValue;
                        }
                        @if (isLoggedIn)
                        {
                            <li class="nav-item">
                                <span class="nav-link">
                                    Welcome, @Context.Session.GetString(nameof(BCUser.Name))
                                </span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                            
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Login" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (!isLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Permit" asp-action="Index">Permit Application</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Permit" asp-action="ShowPermits">Show Permits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Loan" asp-action="Index">Loan Application</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Loan" asp-action="ShowLoans">Show Loans</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Super Blockchain Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
